@()
@import play.i18n._

<a href="/calendar/master/user">@Messages.get("common.calendar.master.userList.title")</a><br>
<a href="/calendar/master/user/add">@Messages.get("common.calendar.master.userAdd.title")</a><br>
<a href="#">@Messages.get("common.calendar.master.userEdit.title")</a><br>

<a href="/calendar/master/holiday">@Messages.get("common.calendar.master.holidayList.title")</a><br>
<a href="/calendar/master/holiday/add">@Messages.get("common.calendar.master.holidayAdd.title")</a><br>

<a href="/calendar/master/stamp">@Messages.get("common.calendar.master.stampList.title")</a><br>

<a href="/calendar/month">@Messages.get("common.calendar.month.title")</a><br>
<a href="/calendar/week">@Messages.get("common.calendar.week.title")</a><br>
