@(user:  Form[models.entity.User])

@main("アカウント登録") {
  @* メッセージ表示 *@
  @tag.message()
  @helper.form(action = routes.Signup.confirm) {
    @* 姓 *@
    @helper.inputText(field=user("lastNameJa"))
    @* 名 *@
    @helper.inputText(field=user("firstNameJa"))
    @* 所属機関 *@
    @helper.inputText(field=user("affiliationJa"))
    @* メールアドレス *@
    @helper.inputText(field=user("email"))
    <input type="submit">
  }

   <form actin="@routes.Signup.confirm" method="post">
    <input type="text" id="lastNameJa" name="lastNameJa"><br />
    <input type="text" id="firstNameJa" name="firstNameJa"><br />
    <input type="text" id="affiliationJa" name="affiliationJa"><br />
    <input type="text" id="email" name="email"><br />
    <input type="submit">
  </form>
}


